<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        
    </li>
    <li class ="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hotel" asp-action="All">Hotels</a>
    </li>
    <li class="nav-item dropdown">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button"
                    data-bs-toggle="dropdown">
                Verifications
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Hotel" asp-action="Verify">Hotel verifications</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item dropdown">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button"
                    data-bs-toggle="dropdown">
                Reservations
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Hotel" asp-action="AllReservations">Hotel reservations</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
